

.invoicetemplate {
  width               : 100%;
  min-width           : 610px;
  height              : 100vh;
  min-height          : 790px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.invoicetemplate .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 737px;
  height              : 35px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 257px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .group .infinity {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 35px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .group .gradient {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 13px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .environfrontheroku {
  background-color    : rgba(255,255,255,0.0);
  top                 : 748px;
  height              : auto;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 432px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : SF UI Display;
  src                 : url("./SF-UI-Display-Regular.otf") format("opentype");
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(80, 80, 80, 1.0);
  text-align          : left;
  letter-spacing      : -0.15px;
  line-height         : 14.0px;
}
.invoicetemplate .c342maramunicipalde {
  background-color    : rgba(255,255,255,0.0);
  top                 : 673px;
  height              : auto;
  width               : 612px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : SF UI Display;
  src                 : url("./SF-UI-Display-Regular.otf") format("opentype");
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(47, 47, 47, 1.0);
  text-align          : center;
  letter-spacing      : -0.15px;
  line-height         : 19.0px;
}
.invoicetemplate .ac342maramunicipald {
  background-color    : rgba(255,255,255,0.0);
  top                 : 394px;
  height              : auto;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : SF UI Display;
  src                 : url("./SF-UI-Display-Regular.otf") format("opentype");
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(47, 47, 47, 1.0);
  text-align          : center;
  letter-spacing      : -0.15px;
  line-height         : 19.0px;
}
.invoicetemplate .autoriza307303o {
  background-color    : rgba(255,255,255,0.0);
  top                 : 304px;
  height              : auto;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 191px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : SF UI Display;
  font-weight         : bold;
  src                 : url("./SF-UI-Display-Bold.otf") format("opentype");
  font-weight         : 700;
  font-style          : normal;
  font-size           : 31.0px;
  color               : rgba(66, 66, 66, 1.0);
  text-align          : left;
  letter-spacing      : -0.2px;
  line-height         : 37.0px;
}
.invoicetemplate .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 265px;
  width               : 611px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .groupcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : -90px;
  height              : 170px;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 523px;
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.invoicetemplate .groupcopy .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 160px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .groupcopy .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 157px;
  width               : 147px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .groupcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 126px;
  height              : 170px;
  width               : 177px;
  position            : absolute;
  margin              : 0;
  left                : -73px;
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.invoicetemplate .groupcopy2 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 159px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .groupcopy2 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 156px;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 145px;
  height              : 38px;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 446px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .group3 .a4thmay2017 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : 161px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : SF UI Display;
  src                 : url("./SF-UI-Display-Regular.otf") format("opentype");
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.15px;
  line-height         : 16.0px;
}
.invoicetemplate .group3 .data {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : SF UI Display;
  src                 : url("./SF-UI-Display-Regular.otf") format("opentype");
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.15px;
  line-height         : 16.0px;
}
.invoicetemplate .group4copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 145px;
  height              : 66px;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 234px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .group4copy .centraltechnologies {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : 246px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : SF UI Display;
  src                 : url("./SF-UI-Display-Regular.otf") format("opentype");
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.15px;
  line-height         : 16.0px;
}
.invoicetemplate .group4copy .para {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : SF UI Display;
  src                 : url("./SF-UI-Display-Regular.otf") format("opentype");
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.15px;
  line-height         : 16.0px;
}
.invoicetemplate .group3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 146px;
  height              : 35px;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .group3copy .clod0001 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : SF UI Display;
  src                 : url("./SF-UI-Display-Regular.otf") format("opentype");
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.15px;
  line-height         : 16.0px;
}
.invoicetemplate .group3copy .eventono {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 289px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.8;
  font-family         : SF UI Display;
  src                 : url("./SF-UI-Display-Regular.otf") format("opentype");
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.15px;
  line-height         : 16.0px;
}
.invoicetemplate .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 58px;
  width               : 177px;
  position            : absolute;
  margin              : 0;
  left                : 346px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .logo .white {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 25px;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .logo .sign {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 57px;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.invoicetemplate .c302maramunicipalde {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : auto;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : SF UI Display;
  src                 : url("./SF-UI-Display-Regular.otf") format("opentype");
  font-weight         : 400;
  font-style          : normal;
  font-size           : 21.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.15px;
  line-height         : 25.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}